*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
    --rotation: 0;
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}
#body{
    background-color: #efeff4;
    transition: all .5s ease;
}
#body.dark{
    background-color: #1b2440;
    color: white;
}
.screen{
    display: flex;
    justify-content: space-evenly;
}
p{
    font-size: 60px;
    /* margin: auto; */
    display: inline-block;
}
.cont{
    height: 90vh;
    min-height: 500px;
    width: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-digit{
    margin: auto;
    width: 400px;
    height: 100px;
}
.cont-anal{
    margin-bottom: 30px;
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.reloj{
    background-color: #fff;
    width: 80%;
    height: 80%;
    border: 30px solid #171a23;
    border-radius: 50%;
    margin: auto;
    display: flex;
    position: relative;
}
.reloj.dark{
    background-color: #29324d;
}
.centro{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    margin:auto;
    z-index: 500;
}
.indicators{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid green; */
    display: flex;
}
.manecillas-hr, .manecillas-min, .manecillas-seg{
    --rotation: 0;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    transform: rotate(calc(var(--rotation)* 1deg));
    /* transition: transform 1s;
    transition-timing-function: linear; */


}
.hr, .min, .seg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin:auto;
    background-color: rgb(39, 39, 39);
    transition: background-color .5s ease;
}
.hr.dark, .min.dark{
    background-color: white;
}
.hr{

    margin-top:15%;
    width:15px;
    height: 40%;
}
.min{

    margin-top:5%;
    width:10px;
    height: 50%;
}
.seg{

    margin-top:10%;
    width:5px;
    height: 50%;
    background-color: hsl(0, 50%, 50%);
}

.indicator{
    position: inherit;
    width: 3px;
    height: 10px;
    border: none;
    background-color: hsl(260, 34%, 23%);
    transition: background-color .5s ease;
    left: 50%;
}
.indicator.dark{
    background-color: white;
}
.indicators{
    --rotation: 0;
    transform: rotate(var(--rotation))
}
#indi1{
    --rotation:30deg;
}
#indi2{
    --rotation:60deg;
}
#indi3{
    --rotation:90deg;
}
#indi4{
    --rotation:120deg;
}
#indi5{
    --rotation:150deg;
}
#indi6{
    --rotation:180deg;
}
#indi7{
    --rotation:210deg;
}
#indi8{
    --rotation:240deg;
}
#indi9{
    --rotation:270deg;
}
#indi10{
    --rotation:300deg;
}
#indi11{
    --rotation:330deg;
}

.dark-cont{
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: #eee;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 4px;
    transition: all .5s ease;
}
.dark-cont.dark{
    background-color: #1b2440;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.dark-cont>span{
    font-size: 3rem;
    color: #666;
}
.dark>span{
    color: #eee;
}
.slider{
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    border-radius: 100px;
    transition: transform .5s ease;
}
.slider.right{
    transform: translateX(50px);
}
